const mongoose = require('mongoose');
const { Schema } = mongoose;

const {{.ModelName}}Schema = new Schema({

});

const {{.ModelName}} = mongoose.model('{{.ModelName}}', {{.ModelName}}Schema);

module.exports = {{.ModelName}}