const model = require('../models/{{.ModelName}}');

const list = () => {
  return {{.ModelName}}.find({});
}

const update = (id, data) => {
  return {{.ModelName}}.findOneAndUpdate({ _id: id }, data);
}

const save = (data) => {
  return {{.ModelName}}.create(data);
}

const remove = (id) => {
  return {{.ModelName}}.findOneAndDelete({ _id: id });
}

module.exports = {
  list,
  remove,
  save,
  update
}
